daemon: true
debug: true
domain: {{.Domain}}
ipv4: {{.VpsIp}}
http_port: 8081
https_port: 8443
dns_port: 0
autocert: false
phishlets_path: /opt/evilginx/phishlets
cert_path: /opt/evilginx/certs
database: /opt/evilginx/evilginx.db